<body class="bg-dark">
  <div class="container" *ngIf="educacion">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-7 bg-light rounded">
            <h1 class="text-center font-weight-bold text-primary">Educación</h1>
            <hr class="bg-light">
            <h5 class="text-center text-success"></h5>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la Institución Educativa</label>
                    <div class="container" *ngIf="educacion">
                        <input type="text" class="form-control" id="nombreEdu" name="nombreEdu"
                            [(ngModel)]="educacion.nombreEdu" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionEdu">Descripción de sus Estudios</label>
                        <textarea name="descripcionEdu" id="descripcionEdu" class="form-control" cols="30" rows="4" [(ngModel)]="educacion.descripcionEdu" required></textarea>
                    </div>
                    <br>
                    <button class="btn btn-primary">
                       Modificar Educación
                    </button>
                </div>
            </form>
        </div>
    </div>
  </div>
</body>