<div class="row text-center">
  <h1>Educación</h1>
  <div class="col-lg-2 text-center">
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
          Agregar Educación
      </button>
  </div>
<section class="intro">
  <div class="gradient-custom-1 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <!-- <div class="col-12"> -->
            <div class="table-responsive bg-white">
             <div class="col-lg-1"></div>
              <div class="col-lg-11">
                <table class="table mb-0" *ngIf="isLogged">
                  <thead>
                    <tr>
                      <th scope="col-lg-3">TIPO - TITULO</th>
                      <!-- <th scope="col">TITULO</th> -->
                      <th scope="col-lg-7">COMPETENCIAS PROFESIONALES</th>
                      <th scope="col-lg-1"></th>
                      <th scope="col-lg-1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Educacion of educacion">
                      <td scope="col-lg-3">{{Educacion.nombreEdu}}</td>
                      <td scope="col-lg-7">{{Educacion.descripcionEdu}}</td>
                      <td scope="col-lg-1" *ngIf="isLogged">
                        <button class="btn btn-success" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                      </td>
                      <td scope="col-lg-1" *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="borrar(Educacion.id)">
                            <i class="bi bi-trash-fill"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>  
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="intro">
  <div class="gradient-custom-1 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="table-responsive bg-white">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">TIPO - TITULO</th>
                    <th scope="col">TITULO</th> 
                    <th scope="col">COMPETENCIAS PROFESIONALES</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Educacion of educacion">
                    <td>{{Educacion.nombreEdu}}</td>
                    <td>{{Educacion.descripcionEdu}}</td>
                    <td *ngIf="isLogged">
                      <button class="btn btn-success" routerLink="/editedu/{{Educacion.id}}">
                          <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                      <button class="btn btn-danger" (click)="borrar(Educacion.id)">
                          <i class="bi bi-trash-fill"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

-->



<!-- Educacion --
<section class="educacion seccion-clara">
    <div class="container text-center">
        -- Universidad --
      <div class="row">
        <h1>Educación</h1>
        <div class="columna col-sm-3">
          <i class="bi bi-mortarboard-fill"></i>
          <p class="titulo">Universidad</p>
          <img class="uni-imagen-desarrollador" src="../../../assets/UNPA.png" width="10px" alt="UNPA">
        </div>  
        <div class="columna col-sm-9">
            <p class="subtitulo">ANALISTA DE SISTEMAS</p>
            <p>COMPETENCIAS PROFESIONALES
              - Interviene en la  planificación,  dirección,  realización  y/o  evaluación  de  proyectos 
              de sistemas de administración de recursos. Así como también, en la realización de 
              las tareas de Auditoría de los Sistemas Informáticos. Realizar arbitrajes, pericias y 
              tasaciones  relacionados</p>
        </div>
      </div>
        -- Secundario --
      <div class="row" margin="5px">
        <div class="columna col-sm-3">
          <i class="bi bi-mortarboard-fill"></i>
          <p class="titulo"> Colegio Secundario</p>
          <img class="sec-imagen-desarrollador" src="../../../assets/Sec_17.png" alt="Img Colegio"> 
        </div>
        <div class="columna col-sm-9">
          <p class="subtitulo">PERITO EN INFORMÁTICA CON ORIENTACIÓN EMPRESARIAL</p>
            <p>COMPETENCIAS PROFESIONALES
              - Interviene en la  planificación,  dirección,  realización  y/o  evaluación  de  proyectos 
              de sistemas de administración de recursos. Así como también, en la realización de 
              las tareas de Auditoría de los Sistemas Informáticos. Realizar arbitrajes, pericias y 
              tasaciones  relacionados  con  los  Sistemas  Informáticos.  Especificación  formal, 
              </p>
              
        </div>
      </div>
        -- Cursos --
      <div class="row">
        <div class="columna col-sm-3">
          <i class="bi bi-mortarboard-fill"></i>
          <p class="titulo">Cursos</p>
          <img class="cursos-imagen-desarrollador" src="../../../assets/hero-inferior.svg " alt="Foto representativa de cursos"> 
        </div>  
        -- <div class="columna col-sm-9"> --
        <div class="columna col-sm-9">
          <p class="subtitulo">PHP, MySQL, ORACLE, HTML, CSS, JavaScript, React</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet, odio eget fringilla scelerisque, sem purus fringilla mauris, nec ultricies nisl nisl sit amet dolor. </p>
           <div class="badges-contenedor">
            <i class="bi bi-filetype-css"></i>
            <i class="bi bi-filetype-sql"></i>
            <i class="bi bi-filetype-php"></i>
            <i class="bi bi-filetype-html"></i>
            <i class="bi bi-filetype-js"></i>
            <i class="bi bi-filetype-py"></i>
            <i class="bi bi-filetype-java"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  -- Fin Educacion -->
