
<!-- Pie de pagina (footer) -->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center"> 
  <img class="footer-logo rounded-circle" src="../../../assets/icono-azu.png" width="50" alt="Logo del portafolio">
    <p class="footer-texto text-center">Aprendo y creo todos los días.<br>Creemos un proyecto juntos.</p>
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://twitter.com/freecodecampES" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="https://github.com/MarianaComp2022/proy_final_mec" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/freecodecamp/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="mailto:mecomp@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Creado por Mariana Compagnoni (2022) &#169;</div>
</footer>
<!-- Fin de Pie de pagina (footer) -->

<!-- Contacto  

<section id="contacto" class="contacto seccion-oscura">
    <div class="container">
      <div class="container text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
          <div class="col-12 col-md-4 seccion-titulo">
            <h3>¡Hablemos!</h3>
          </div>
          <div class="col-12 col-md-4 descripcion">
            Contáctame para iniciar tu proyecto de desarrollo web.
          </div>
          <div class="col-12 col-md-4">
            <a href="https://web.whatsapp.com/">
              <button type="button">  
                Contacto
                <i class="bi bi-whatsapp"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
  Fin Contacto -->
