<!-- Contacto  -->

<section id="contacto" class="contacto seccion-oscura">
    <div class="container">
      <div class="container text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
          <div class="col-12 col-md-4 seccion-titulo">
            <h3>¡Hablemos!</h3>
          </div>
          <div class="col-12 col-md-4 descripcion">
            Contáctame para iniciar tu proyecto de desarrollo web.
          </div>
          <div class="col-12 col-md-4">
            <a href="https://web.whatsapp.com/">
              <button type="button">  
                Contacto
                <i class="bi bi-whatsapp"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
  <!-- Fin Contacto -->
