/* Experiencia */

.experiencia {
    padding: 40px 40px 60px 40px;
  }
  
  .experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
  }
  
  .experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
  }
  
  .experiencia i {
    font-size: 2.5rem;
    color: #9030de;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .badge {
    margin: 5px;
  }

  
  .educacion i {
    font-size: 2rem;
    color: #9030de;
    background-color: #0a0a23;
    padding: 6px 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
  }

 .titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
 }

 
 .subtitulo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
 }
  .uni-imagen-desarrollador {
    width: 80px;
    height: 100px;
    margin: 10px;
  }

  .sec-imagen-desarrollador {
    width: 200px;
    height: 150px;
    padding: 0px 0px 0px 0px;
  }

  .cursos-imagen-desarrollador {
    width: 150px;
    height: 150px;
    margin: 5px;
  }



/* Fin Experiencia */