<div class="row text-center">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-2 text-center">
      <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
          Nueva Experiencia
      </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Experiencia of expe">
                  <td>
                      <h2>{{Experiencia.nombreExp}}</h2>
                  </td>
                  <td>{{Experiencia.descripcionExp}}</td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}">
                          <i class="bi bi-pencil-fill"></i></button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                          <i class="bi bi-trash-fill"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<!-- Experiencia -->
  <!--        
        Asesor en Implemetacion 
        <div class="columna col-12 col-md-6">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Asesor en Implementación de
            Sistemas Senior</p>
            <div>
              <h3>
                Subsecretaria De Informática
              </h3>
              <h4>
                01-03-2012 - AL PRESENTE.
              </h4>
            </div>
          <p>Resumen: Desarrollo, Parametrización, Implementación, Capacitación y
            mantenimiento de sistemas pertenecientes o adquiridos por la Administración
            Pública Provincial. Determinar las necesidades en lo referente a la información y
            equipo necesario para que se pueda mejorar la captura y el flujo de la información
            en todas las dependencias de la Institución. Desarrollar con las otras dependencias
            de la Institución formatos de captura de información que permitan un mejor
            registro y almacenamiento de la misma. Coordinar las actividades de desarrollo
            de herramientas para el manejo óptimo de la Información (Aplicaciones de
            Escritorio, Aplicaciones Web, Bases de Datos, etc.) Coordinar las actividades
            necesarias para mantener actualizado en forma correcta toda la información de
            los Sistemas realizados por la dependencia y de los Sitios Web dependientes de la
            Institución.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">HTML</span>
            <span class="badge text-bg-primary">CSS</span>
            <span class="badge text-bg-primary">JavaScript</span>
            <span class="badge text-bg-primary">React</span>
          </div>
        </div>
        Gestion de Proyectos de Inversión 
        <div class="columna col-12 col-md-6">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Gestion de Proyectos de Inversión</p>
          <div>
            <h3>
              OPS&S Consulting De Arg. - Servicios A Enap Sipetrol Argentina S.A.
            </h3>
            <h4>
              01-01-2011 - 01-01-2012
            </h4>
          </div>
          <p>Avance Físico: Seguimiento de tareas, Proyecciones, Curvas S, Avance de Costos: Costos vs. Presupuesto, Curvas S.
            Riegos & Planes de Mitigación. Coordinar, planificar, hacer seguimiento del
            avance del proyecto. Con el respaldo del jefe de proyecto persona con 11 años de
            experiencia en el tema.</p>
          <div class="badges-contenedor">
            <i class="bi bi-filetype-xls"></i>
            <i class="bi bi-filetype-ppt"></i>
            <i class="bi bi-filetype-pdf"></i><p></p>
            <i class="bi bi-bar-chart-line-fill"></i>
            <i class="bi bi-graph-up-arrow"></i>
            <i class="bi bi-pie-chart-fill"></i>
          </div>
        </div>
        Jefa de Departamento 
        <div class="columna col-12 col-md-6">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Jefa de Departamento</p>
          <div>
            <h3>
              Subsecretaria De Informática
            </h3>
            <h4>
              01-05-2007 - 01-01-2011
            </h4>
          </div>
          <p>Armado de Páginas Web, Mesa de Ayuda - Soluciones Generales.Administración
            Mesa de Ayuda, control seguimiento y evaluación de Incidentes Paramentrización
            y prueba de Sistemas Internos. Organización de cursos de capacitación para todas
            las dependencias de la administración pública provincial. Desarrollo,
            Parametrización, Implementación, Capacitación y mantenimiento de sistemas
            pertenecientes o adquiridos por la Administración Pública Provincial.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">HTML</span>
            <span class="badge text-bg-primary">CSS</span>
            <span class="badge text-bg-primary">PHP</span>
            <span class="badge text-bg-primary">JavaScript</span>
          </div>
        </div>
        Asesor en Implementación de Sistemas SIIF 
        <div class="columna col-12 col-md-6">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Asesor en Implementación de Sistemas SIIF</p>
          <div>
            <h3>
              Subsecretaria De Informática | Asig. Ministerio de Economía
            </h3>
            <h4>
              01-03-2005 - 01-05-2007
            </h4>
          </div>
          <p>Resumen: Desarrollo, Parametrización, Implementación, Capacitación y
            mantenimiento de sistemas pertenecientes o adquiridos por la Administración
            Pública Provincial. Determinar las necesidades en lo referente a la información y
            equipo necesario para que se pueda mejorar la captura y el flujo de la información
            en todas las dependencias de la Institución. Desarrollar con las otras dependencias
            de la Institución formatos de captura de información que permitan un mejor
            registro y almacenamiento de la misma. Coordinar las actividades de desarrollo
            de herramientas para el manejo óptimo de la Información (Aplicaciones de Escritorio, Aplicaciones Web, Bases de Datos, etc.) Coordinar las actividades
            necesarias para mantener actualizado en forma correcta toda la información de
            los Sistemas realizados por la dependencia y de los Sitios Web dependientes de la
            Institución.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">ORACLE</span>
            <span class="badge text-bg-primary">Desarrollo Web</span>
            <span class="badge text-bg-primary">Implentación</span>
          </div>
        </div>
      </div>
    </div>
  </section> 
  Fin Experiencia -->
