<body class="bg-dark">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-7 bg-light rounded">
            <h1 class="text-center font-weight-bold text-primary">Experiencia</h1>
            <hr class="bg-light">
            <h5 class="text-center text-success"></h5>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Nombre de la Empresa</label>
                    <input placeholder="Empresa - Año" type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Descripción</label>
                    <textarea placeholder="de las tareas realizadas" name="descripcionExp" id="descripcionExp" class="form-control" cols="30" rows="4" [(ngModel)]="descripcionExp" required></textarea>
                </div>
                <div class="form-group" style="display: none">
                    <label for="idPersexp"></label>
                    <textarea name="idPersexp" id=1 class="form-control" [(ngModel)]="idPersexp" required></textarea>
                </div>
                <br>
                <button class="btn btn-primary">
                    Agregar Experiencia
                </button>
            </form>
        </div>
    </div>
  </div>
</body>
