<div class="row">
    <div class="conteiner">
             <div class="logo d-flex flex-wrap align-items-center justify-content-center">
              <img src="../../../assets/Logo_arg_prg.png" id="logoAP">
             </div>
             <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-right">
                <a href="https://twitter.com/freecodecampES" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-twitter"></i>
                </a>
                <a href="https://github.com/freeCodeCamp/freeCodeCamp" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/freecodecamp/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="mailto:janedoe@micorreo.com" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-envelope"></i>
                </a>
              </div>
              <div>
               <button type="button" class="btn btn-outline-light" (click)="login()">INGRESAR</button>
              </div>
            </div>
    </div>





