/* Acerca de ... */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    height: 100px;
    background-color: #f5f6f7;
    min-height: 150px;
    text-align: center;
  }
  
.banner .contenedor {
    max-width: 400px;
    text-align:center; 
  }

  .banner-principal {
    padding: 3rem;

}

.banner-imagen {
    width: 200px;
    height: 200px;
    margin: 20px;

}
