<body class="bg-dark">
    <div class="container" *ngIf="proyecto">
       <div class="row justify-content-center">
           <div class="col-md-6 mt-7 bg-light rounded">
               <h1 class="text-center font-weight-bold text-primary">Proyecto</h1>
               <hr class="bg-light">
               <h5 class="text-center text-success"></h5>
               <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                   <div class="form-group">
                       <label for="nombre">Nombre del Proyecto</label>
                       <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" required>
                   </div>
                   <div class="form-group">
                       <label for="descripcion">Descripción del Proyecto</label>
                       <textarea name="descripcion" id="descripcion" class="form-control" cols="30" rows="4" [(ngModel)]="proyecto.descripcion" required></textarea>
                   </div>
                   <div class="form-group">
                       <label for="img">URL del Proyecto</label>
                       <input type="text" class="form-control" id="proy_url" name="proy_url" [(ngModel)]="proyecto.proy_url" required>
                   </div>
                   <br>
                   <button class="btn btn-primary">
                    Actualizar
                   </button>
               </form>
           </div>
       </div>
    </div>
</body>