<div class="row text-center">
  <h1>Galeria de Proyectos</h1>
  <div class="col-lg-2 text-center">
    <h3>Detalle de la forma en la que estuve involucrada y acceso web</h3>
    <button type="button" class="btn btn-dark" routerLink="/nuevo_proy" *ngIf="isLogged">
      Nuevo Proyecto
    </button>
  </div>
  <section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
    <div class="container-flex text-center proyectos-contenedor">
      <div class="row">
        <div class="col">
          <table class="table">
            <tbody>
              <tr *ngFor="let Proyecto of proy">
                <div class="proyecto">
                  <h2><img src="../../../assets/proyecto1.png" alt="Proyecto 1" id="foto_proy"></h2>
                  <div class="overlay">
                   <div class="iconos-contenedor">
                      <a href={{Proyecto.proy_url}} target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-laptop"></i>
                      </a>
                    </div>
                  </div>
                </div>
                
                <td *ngIf="isLogged">
                  <button class="btn btn-success" routerLink="/edit_proy/{{Proyecto.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
                </td>
                <td *ngIf="isLogged">
                  <button class="btn btn-danger" (click)="borrar(Proyecto.id)">
                    <i class="bi bi-trash-fill"></i></button>
                </td>
                <td>
                  <h3>{{Proyecto.nombre}}</h3>
                </td>
                <!--  <p>Proyecto 1</p> -->
                <td>{{Proyecto.descripcion}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


<!-- Proyectos 
<section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
    Galeria de Proyectos 
    <div class="container text-center proyectos-contenedor">
      <div class="row">
        <h1>Proyectos </h1>
        <h3>Detalle de la forma en la que estuve involucrada y acceso web</h3>
        Proyecto 1 
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="../../../assets/proyecto1.png" alt="Proyecto 1">
            <div class="overlay">
              <p>Proyecto 1</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-list-check"></i>
                </a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        Proyecto 2 
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="../../../assets/proyecto2.png" alt="Proyecto 2">
            <div class="overlay">
              <p>Proyecto 2</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-list-check"></i>
                </a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        Proyecto 3 
        <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
              <img src="../../../assets/proyecto3.png" alt="Proyecto 3">
              <div class="overlay">
                <p>Proyecto 3</p>
                <div class="iconos-contenedor">
                  <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-list-check"></i>
                  </a>
                  <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-laptop"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        Proyecto 4 
        <div class="col-12 col-md-6 col-lg-4">
          <div class="proyecto">
            <img src="../../../assets/proyecto4.png" alt="Proyecto 4">
            <div class="overlay">
              <p>Proyecto 4</p>
              <div class="iconos-contenedor">
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-list-check"></i>
                </a>
                <a href="https://www.freecodecamp.org/espanol/" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-laptop"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
      <button type="button" class="btn btn-info">
        Ver más proyectos
        <i class="bi bi-arrow-right-circle-fill"></i>
      </button>
    </a>
  </section>

 Fin Proyectos -->