h1 {
    font-size: 2.5rem;
    font-family: 'DM Serif Text', serif;

  }
  .hard_soft {
    position: relative;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #000000;
  }
  
.hys i {
    font-size: 2rem;
    color: #9030de;
    background-color: #0a0a23;
    padding: 6px 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
  }