h1 {
    font-size: 2.5rem;
    font-family: 'DM Serif Text', serif;

  }

.hys i {
    font-size: 2rem;
    color: #9030de;
    background-color: #0a0a23;
    padding: 6px 15px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
  }